<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Frontend</title>
    <!--  Link do bootstrap - Antes do CSS  -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <!--  Link do bootstrap icons  -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <!--  Link do CSS  -->
    <link rel="stylesheet" href="/static/css/style.css"/>

    <!-- FOnte-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">

</head>
<body>
<div class="menu">
    <ul>
        <li><a href="{{ url_for('home') }}">Home</a></li>
        <li><a href="{{ url_for('calculos') }}">Cálculos</a></li>
        <li><a href="{{ url_for('funcionarios') }}">Funcionários</a></li>
        <li><a href="{{ url_for('login') }}">Login</a></li>
        <li><a href="{{ url_for('animais') }}">Animais</a></li>
        <li><a href="{{ url_for('listar_gatos') }}">Gatos</a></li>

    </ul>
</div>

<div class="conteudo">
    {% block conteudo %}

    {% endblock %}
</div>

<!-- Link do  para o bootstrap - Final do body -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous">

</script>

<script src="/static/js/APIS.js"></script>
</body>
</html>